*{
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 255);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: rgb(255, 0, 255);
    height: 40px;
    align-items: center;
    position: fixed;
    width: 100%;
}
main{
    padding-top: 80px;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 255);
}

.sobre {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 255);
}

.sobremim {
    display: flex;
   align-items: center;
    margin-left: 200px;
}

h1 {
    text-align: center;
}

.imagemFoto {
    height: 300px;
    width: 300px;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    border-radius: 50%;
}

.divas {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.imagemProjetos {
    height: 300px;
    width: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

.contatowhatsapp {
    display: flex;
    margin-top: 200px;
    margin-left: 500px;
    margin-bottom: 300px;
}

.contatoinstagram {
    margin-top: -430px;
    margin-left: 700px;

}

footer {
    background-color: black;
    height: 200px;
    color: rgb(255, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}